TOTCalib/*.txt
TOTCalib/*.root
*.o 
*.so 
TOTCalib/TOTCalibDict*
*.pcm
TOTCalib/runExplorePixelTOTResolution_Thomas.C

// Qt creator files
*.includes
*.creator
*.config
*.files
*creator.user

// MacOs
*.DS_Store
